/*RESET CSS*/
/*SELETOR UNIVERSAL*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

/*AGRUPAMENTO DE SELETORES*/
h1, h2, p {
	color: red;
}

/*SELETOR DE ELEMENTO DESCEDENTE*/
h2 span {
	color: #090;
	font-size: 30px;
}

p span {
	color: pink;
	font-size: 18px;
}

/*ID E CLASS*/
/*
 SEMELHANÇAS ENTRE ID E CLASS;
 - SÃO ATRIBUTOS GLOBAIS; 
 - AMBOS SERVEM PARA INDENTIFICAR ELEMENTOS EM HTML;
 - NOS DOIS O VALOR É UMA STRING;

 DIFERENÇA ENTRE ID E CLASS;
 - QUANDO QUERO SELECIONAR SOMENTE UM ELEMENTO ESPECIFICO, EU US ID, QUANDO QUERO SELECIONAR VÁRIOS, EU USO CLASS.
 - UM VALR DE UM ID NAO PODE SE REPETIR NA MESMA PAGINA, JA O VALOR DE UMA CLASS PODE.
 - PARA ESTILIZAR UMA ID EU USO "#", PARA SELECIONAR UMA CLASS EU USO "." SEGUIDO DA STRING.
 - UM ID TEM UMA HIERARQUIA DO EFEITO CASCATA MAIS FORTE QUE UMA CLASS.

 - STRING É UMA PALAVRA, UM TERMO, GENÉRICO, PARA INDENTIFICAR UM ELEMENTO, NAO PODE TER ACENTO, ESPAÇO, CEDILHA, NEM CARACTERES ESPECIAIS. É CASE-SENSITIVE.
*/