* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

.box1 {
	width: 200px; /*LARGURA DO BOX.*/
	height: 300px; /*ALTURA DO BOX.*/
	background: #ccc; 

	/*VARIAÇÕES DE WIDTH E HEIGHT
	- min-width
	- min-height
	- max-width
	- max-height

	MARGIN:
	ESPAÇAMENTO EXTERNO DO BOX!
	GERALMENTE USADO PARA EMPURRAR OUTRO ELEMENTO
	*/

	/*margin-top: 20px;
	margin-left: 30px;
	margin-right: 10px;
	margin-bottom: 35px;
	
	margin:  (TOP, RIGTH, BOTTOM, LEFT);
	margin: 20px 10px 35px 30px;
	
	margin com 3 eixos (TOP, LEFT E RIGHT, BOTTOM)
	margin: 20px 30px 35px;
	
	margin com 2 eixos (TOP E BOTTOM, LEFT E RIGTH)
	margin: 20px 40px;
	
	margin: ; COM 1 EIXO OS 4 LADOS TEM O MESMO ESPAÇAMENTO.
	margin: 30px;
	*/

	margin: 0 auto; /*CENTRALIZA UM ELEMENTO DE BLOCO QUE TENHA LARGURA FIXA.*/

	/*PADDING
	PADDING É O ESPAÇAMENTO INTERNO DE UM BOX, TODAS AS VARIAÇÓES QUE APRENDEMOS PARA MARGIN VALE PARA PADDING. 
	
	FAZ COM QUE PADDING E BORDER NAO AUMENTE MAIS O TAMANHO.
	box-sizing: border-box;
	*/

	padding: 20px;

	/*BORDER:
	CRIA UMA BORDA NO BOX, PODE SER LEFT, RIGHT, BOTTOM E/OU TOP, TEM 3 VALORES, TAMANHO, ESTILO E COR. TAMBEM AUMENTA O TAMANHO DO BOX*/

	border: 10px ridge #090;

	/*
	BACKGROUND:
	background-color: #099;
	background-image: url('../../imagens/Logos/favicon.png');
	background-repeat: no-repeat;
	background-position: 100px 150px;
	background-attachment: fixed;

	PODE SER AGRUPADO EM QUALQUER ORDEM! */

	background: url('../../imagens/Logos/favicon.png') no-repeat 50px 50px #099;
	
}

.box2 {
	width: 300px;
	height: 400px;
	background: green;
}

.parallax {
	height: 300px;
	background: url('../../imagens/Fotos/imagem9.jpg') no-repeat top left fixed transparent; 
}

body {
	background-color: #9f2a5c;
}