
<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="layout.css">
	<title>Layouts HTML5</title>
</head>
<body>
	<!--AQUI COMEÇA O TOPO-->
	<header>
		<h1>
			<a href="./"><img src="../../imagens/Logos/codeblue.png"></a>
		</h1>
		<h2>O melhor site que eu fiz ate agora!</h2>
	</header>

	<!--AQUI COMEÇA O MENU-->
	<nav>
		<h2>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Sobre Nós</a></li>
				<li><a href="#">Portifólio</a></li>
				<li><a href="#">Fotos</a></li>
				<li><a href="#">Contato</a></li>
			</ul>

		</h2>
	</nav>

	<!--AQUI COMEÇA O CONTEÚDO-->
	<main>
		<aside>
			<h4>Links Uteis</h4>
			<ul>
				<li><a href="https://www.maujor.com/" target="_blank">Site do Maujor</a></li>
				<li><a href="https://www.w3schools.com/" target="_blank">Site da W3Schools</a></li>
				<li><a href="https://www.w3.org/" target="_blank">Site da W3C</a></li>
			</ul>
		</aside>
		<section>
			<article>
				<h3>Noticia 1</h3>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi voluptatibus quisquam quae recusandae nesciunt vero, illo earum. Autem sit iusto aliquid est animi quas. Unde animi consequuntur repellat sint corporis.</p>
				<p>Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Tempore ducimus laudantium temporibus aut impedit, explicabo dolorum nobis possimus provident doloremque eveniet earum ratione exercitationem, a quas commodi quo ut necessitatibus!</p>
				<p class="leia"><a href="#">Leia mais...</a></p>
			</article>
			<article>
				<h3>Noticia 2</h3>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi voluptatibus quisquam quae recusandae nesciunt vero, illo earum. Autem sit iusto aliquid est animi quas. Unde animi consequuntur repellat sint corporis.</p>
				<p>Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Tempore ducimus laudantium temporibus aut impedit, explicabo dolorum nobis possimus provident doloremque eveniet earum ratione exercitationem, a quas commodi quo ut necessitatibus!</p>
				<p class="leia"><a href="#">Leia mais...</a></p>
			</article>
		</section>
	</main>

	<!--AQUI COMEÇA O RODAPÉ-->
	<footer>
		<p>&copy; Copyrigth - Todos os Direitos reservados - Murilo Rickson</p>
	</footer>
</body>
</html>
